.nav {
	padding: 20px;
	max-height: 15vh;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.nav-logo {
	width: 6em;
}
.logo span {
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: 900;
	color: #353434;
	text-transform: uppercase;
	text-decoration: none;
}
.nav_input {
	outline: none;
	border-style: none;
	border-bottom-style: groove;
	width: 50%;
	color: #353434;
	font-size: 1.5em;
}

.nav_list {
	display: flex;
	list-style: none;
	width: 70%;
	justify-content: space-evenly;
	align-items: flex-end;
}

.nav_list-link {
	font-size: 1.3em;
	letter-spacing: 3px;
	font-weight: 900;
	color: #353434;
	text-transform: uppercase;
	text-decoration: none;
}

.nav_list-link:hover {
	color: #af0808;
}
